// index.scss

* {
  list-style: none;
}

body {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;

  .logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      height: 3rem;
    }
  }

  .menu > ul {
    display: flex;
    gap: 0.4rem;

    a {
      color: #1f81dd;
      text-decoration: none;
    }

    a.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.rockets-container {
  margin: 0;
  padding: 0;

  hr {
    margin: 1rem 0;
    padding: 0.08rem 0;
    background-color: #ddd;
    border: none;
  }

  .rockets-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0 1rem;

    .rocket-card {
      display: flex;
      gap: 1rem;

      .c1 {
        .rocket-image {
          width: 15rem;
        }
      }

      .c2 {
        display: flex;
        flex-direction: column;

        .rocket-name {
          font-size: 1.2rem;
          font-weight: 500;
          margin: 0;
          text-align: left;
          color: #000;
        }

        .rocket-res-desc {
          display: flex;

          .rocket-unavailable {
            text-align: left;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.7rem;
            font-weight: bold;
            border-radius: 0.3rem;
            padding: 0.1rem 0.3rem;
            margin-right: 0.4rem;
            border: none;
            background-color: #008f99;
          }

          .rocket-available {
            display: none;
          }

          .rocket-description {
            margin: 0.2rem 0;
            text-align: justify;
            font-size: 0.9rem;
            line-height: 1.4rem;
          }
        }

        button {
          width: fit-content;
          padding: 0.6rem;
          border-radius: 0.3rem;
          cursor: pointer;
        }

        .btn-cancel-reservation {
          color: #555;
          background-color: #f7f7f7;
          border: solid 0.1rem #888;
        }

        .btn-reserve-rocket {
          border: none;
          color: #fff;
          background-color: #1f81dd;
        }
      }
    }
  }
}

// MISSIONS' STYLE //

table,
tbody,
thead,
tr,
th,
td {
  border: 1px solid rgb(178, 178, 178);
  border-collapse: collapse;
}

.missions-container,
table {
  .missions-head,
  thead {
    tr > * {
      padding: 0.8rem;
      text-align: left;
    }
  }
  .missions-list,
  tbody {
    tr > * {
      padding: 0.8rem;
    }

    tr:nth-child(odd) {
      background-color: rgb(211, 211, 211);
    }

    .row {
      .mission-name {
        padding: 0.8rem;
        display: flex;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0.8rem;
        border: none;
      }

      .mission-description {
        text-align: justify;
      }

      .mission-status {
        text-align: center;

        .member-joined {
          white-space: nowrap;
          color: #fff;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 0.8rem;
          font-weight: bold;
          background-color: #008f99;
          padding: 0.1rem 0.3rem;
          border: none 0.3rem #888;
          border-radius: 0.3rem;
        }
        .member-not-joined {
          white-space: nowrap;
          color: #fff;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 0.8rem;
          font-weight: bold;
          padding: 0.1rem 0.3rem;
          background-color: #555;
          border: solid 0.1rem #888;
          border-radius: 0.3rem;
        }
      }

      .mission-actions {
        text-align: center;

        * {
          white-space: nowrap;
          padding: 0.3rem;
          cursor: pointer;
        }

        .leave-mission {
          color: red;
          text-align: center;
          background-color: #fff;
          border: solid 0.1rem rgb(255, 0, 0);
          border-radius: 0.3rem;
        }

        .join-mission {
          color: #333;
          text-align: center;
          background-color: #fff;
          border: solid 0.1rem #555;
          border-radius: 0.3rem;
        }
      }
    }
  }
}